<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.datvemaybay_dhcndonga">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Datvemaybaydhcndonga"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".AdminFlightBookingActivity"
            android:exported="false" />
        <activity
            android:name=".AdminFlightManagement"
            android:exported="false" />
        <activity
            android:name=".AdminViewUserActivity"
            android:exported="false" />
        <activity
            android:name=".UserRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".QRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".DisplayFlightActivity"
            android:exported="false" />
        <activity
            android:name=".SearchFlightActivity"
            android:exported="false" />
        <activity
            android:name=".UserMainActivity"
            android:exported="false" />
        <activity
            android:name=".AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".AdminLoginActivity"
            android:exported="false" /> <!-- LoginActivity là Activity mặc định -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>